<div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li #if($requestTool.isCurrentLink($request, "$request.getContextPath()")) class="active" #end><a href=#getLink("")>主页</a></li>
	  <li #if($requestTool.isCurrentLink($request, "/about")) class="active" #end><a href=#getLink("/about")>关于</a></li>
      <li #if($requestTool.isCurrentLink($request, "/user/login")) class="active" #end><a href="$requestTool.getLoginUrl($!request)") class="navbar-link">登录</a></li>
    </ul>
    <h1 class="muted">以书会友</h1>
</div>

<hr />